/*
* @Author: Administrator
* @Date:   2017-11-18 11:11:15
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-20 15:35:19
*/
html {
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.jd-header {
	height: 40px;
	background: rgba(201, 21, 35, 0);
	position: fixed;
	width: 100%;
	/* 不需要添加left的值，定位的元素会在原来的地方呆着 */
	/* left: 0; */
	top: 0;
	max-width: 640px;
	min-width: 320px;
	z-index: 998;
}
.jd-header > .left {
	width: 75px;
	height: 40px;
	float: left;
	position: relative;
}
.jd-header > .left:before {
	width: 56px;
	height: 20px;
	background-position: 0 -109px;
}
.jd-header > .right {
	height: 40px;
	width: 50px;
	float: right;
	line-height: 40px;
	text-align: center;
}
.jd-header > .right a {
	color: #fff;
}
.jd-header > .center {
	height: 40px;
	margin:0 50px 0 75px;
	position: relative;
}
.jd-header > .center:before {
	left: 5px;
	content: '';
	width: 19px;
	height: 19px;
	background-position: -60px -110px;
}
.jd-header > .center > input[type="search"] {
	width: 100%;
	height: 30px;
	background-color: #fff;
	border-radius: 15px;
	margin-top: 5px;
	text-indent: 30px;
	outline: none;
}
/* 轮播图开始 */
.carousel {
	/* 标准流的盒子不是切掉定位的盒子 */
	overflow: hidden;
	position: relative;
}
.carousel ul {
	/* 先写一个最小高，后期到JS里面动态去获取 */
	min-height: 143px;
}
.carousel > ul > li {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	/* 这里不要用left去移动 因为这样会将最初始的原点也移动了 */
	transform:translateX(200%);
}
.points {
	position: absolute;
	/* 这个宽度百分百不能省略，因为这个元素脱标了 */
	width: 100%;
	bottom: 10px;
	left: 0;
	text-align: center;
	font-size: 0;
	height: 10px;
}
.points li {
	width: 8px;
	height: 8px;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin:0 3px;
	background-color: green;
}
.points li.current {
	background-color: #fff;
}
/* 轮播图结束 */

/* 导航开始 */
.jd-nav {
	padding: 15px 0;
}
.jd-nav a {
	display: block;
	padding:0 20px;
}
.jd-nav p {
	text-align: center;
	line-height: 3;
}

/* 京东快报区域开始 */
.jd-news {
	margin: 0 7px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
}
.jd-news > .left {
	width: 80px;
	height: 30px;
	float: left;
	position: relative;
}
.jd-news > .right {
	width: 38px;
	height: 30px;
	float: right;
}
.jd-news > .center {
	height: 30px;
	margin:0 38px 0 80px;
	overflow: hidden;
}
.scroll-wrap li {
	padding:0 10px;
}
/* 京东快报区域结束 */
/* 秒杀区域开始 */
.jd-seckill {
	margin-top: 10px;
	background-color: #fff;
}
.jd-sc-txt {
	text-indent: 30px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	letter-spacing: 3px;
	color: #ca1327;
	position: relative;
}
.jd-sc-txt:before {
	width: 18px;
	height: 22px;
	background-position: -84px -110px;
	left: 8px;
}
.jd-sc-time {
	/* 去掉行内块的间隙 */
	font-size: 0;
	margin-top: 6px;
}
.jd-sc-time span {
	display: inline-block;
	height: 24px;
	background-color: #000;
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	padding:0 2px;
}
.jd-sc-time span:nth-child(3n+1){
	border-radius: 5px 0 0 5px;
}
.jd-sc-time span:nth-child(3n+2){
	border-radius: 0 5px 5px 0;
}
.jd-sc-time span:nth-child(3n){
	background-color: #fff;
	color: #000;
}
.jd-sc-more a {
	line-height: 35px;
	margin-right: 10px;
}
.jd-sc-b {
	overflow: auto;
	/* 解决IOS默认滑动很卡的情况 */
	-webkit-overflow-scrolling : touch;
}
.jd-sc-b ul {
	width: 10000px;
}
.jd-sc-b li {
	width: 92px;
	float: left;
}
.jd-sc-b li a {
	display: block;
	padding: 2px 15px;
	border-right: 1px solid #ccc;
}
.jd-sc-b li .new-price {
	font-size: 14px;
	text-align: center;
	color: #d90000;
	line-height: 1.6;
}
.jd-sc-b li .old-price {
	font-size: 12px;
	/* 删除线 */
	text-decoration: line-through;
	text-align: center;
}
/* 秒杀区域结束 */
/* 产品区域开始 */
.product-wrap {
	overflow: hidden;
	position: relative;
}
.product-wrap:before {
	content: '';
	height: 100%;
	width: 1px;
	background-color: #ccc;
}
.product-wrap li {
	border-bottom: 1px solid #ccc;
}
.product-wrap a {
	display: block;
	padding:10px;
}
/* 产品区域结束 */